<h1>Welcome to the CAD FEA API tool!</h1>
<p>This tool allows you to perform structural analysis on a range of pre-made parametric CAD parts.</p>

<h2>Workflow Process</h2>
<p>The tool follows a simple process: </p>
<ol>
  <li>The type of part is selected and key driving dimensions are inputted</li>
  <li>The part is converted from a CAD file to a mesh file</li>
  <li>The structural constraints and loads are specified</li>
  <li>The simulation is run, and key outputs (such as maximum stresses and displacements) are displayed</li>
</ol>
